body {
    background-color: rgb(29, 26, 28);
    color: rgb(115, 92, 252);
    font-family: Poppins, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

:root {
    --mc-baseContrast: #000;
    --mc-baseContrast-o0: rgba(0, 0, 0, 0);
}
.header{
    margin-top: 20px;
}

.header__links-tegs {
    align-items: center;
}

li {
    list-style-type: none;
}

ul{
    display: flex;
}

.header__links-tegs a{
    color: rgb(115, 92, 252);
    margin-left: 18px;
    font-family: inherit;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.header__links-tegs a:hover{
    color:white;
}

.header__links-buttons {
    justify-content: end;
    align-items: center;
}

.header__links-buttons li {
    margin-left: 20px;
    border-radius: 4px;
    padding: 2px 20px;
    cursor: pointer;
}

.header__links-buttons li a {
    font-size: 13px;
    text-decoration: none;
}

.header__links-buttons li:nth-child(1) {
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(223, 45, 189);
    border-image: initial;
    transition: background-color 0.3s ease 0s;
}

.header__links-buttons li:nth-child(2) {
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 234, 37);
    border-image: initial;
    background: linear-gradient(253.67deg, rgb(173, 255, 0) 2.27%, rgb(0, 234, 37) 94.48%);
}

.header__links-buttons li:nth-child(1):hover {
    background-color: rgb(223, 45, 189, 0.2);;
}

.header__links-buttons li:nth-child(2):hover {
    opacity: 0.9;
}

#sign_in {
    color: white;
    font-weight: 600;
}

#sign_up {
    color: black;
    font-weight: 600;
}

.main__string {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main__string-popular {
    display: flex;
    cursor: pointer;
}

.main__string-popular a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    position: relative;
    padding-left: 10px;
    padding-top: 2px;
    text-decoration: none;
}

.main__string-vector {
    opacity: 0;
    padding-left: 5px;
    padding-top: 3px;
    transition: opacity 0.4s ease 0s;
}

.main__string-popular:hover .main__string-vector{
    opacity: 1;
}

.main__string-show {
    justify-content: end;
    display: flex;
    cursor: pointer;
}

.main__string-show a {
    position: relative;
    padding-right: 20px;
    color: rgb(0, 234, 37);
    font-size: 14px;
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

.main__string-show a::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -5px;
    width: 16px;
    height: 16px;
    background: url(https://daddycasinotop35.win/assets/arrow-circle-color.svg) no-repeat;
    transition: transform 0.6s ease 0s;
}

.main__string-show:hover a::after {
    transform: translateX(10px) rotate3d(1, 0, 0, 360deg);;
}

.banners_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.grid-item {
    position: relative;
    max-height: 180px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
}

.grid-item::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(360deg, var(--mc-baseContrast) 0%, var(--mc-baseContrast-o0) 67%);
}

.grid-item::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    background-image: url(/assects/images/game-play.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.grid-item:hover::before {
    opacity: 1;
}

.grid-item:hover::after {
    visibility: hidden;
}

.grid-item span {
    position: absolute;
    color: white;
    bottom: 15px;
    z-index: 2;
    left: 10px;
    font-size: 13px;
    font-weight: 600;
}

.grid-item p {
    position: absolute;
    color: rgb(223, 45, 189);
    opacity: 0;
    z-index: 4;
    font-size: 13px;
    font-weight: 600;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-item:hover p{
    opacity: 1;
    filter: brightness(100%);
    
}

.grid-item img {
    width: 100%;
    transition: filter 0.4s ease 0s;
}

.grid-item img:hover{
    filter: brightness(40%);
}

.grid-item:hover span{
    display: none;
}

.footer {
    margin-bottom: 55px;
}

.footer__string-info p {
    display: flex;
    justify-content: end;
}

.footer__string-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
}

.footer__string-info a {
    display: flex;
    justify-content: end;
    color: white;
    text-decoration: none;
}

@media (max-width: 1200px){
    .banners_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:992px) {
    .header__links-tegs{
        display: none;
    }
    .main__string-show{
        display: none;
    }
    .banners_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 630px){
    .banners_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__string-icon {
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer__string-info {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 500px){
    .banners_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 400px){
    .grid-item {
        width: 230px;
    }
}